<ion-view view-title="Login">
  <ion-content class="padding content-base">
    <div class="media-header">
      <div class="box-logo">
        <img src="./img/logo.png" class="main-logo">
      </div>
      <h3>Timeline Media</h3>
    </div>
    <div id="box-form">
      <div class="login-card">
        <i class="icon ion-person"></i>
        <input type="mail" name="email" ng-model="email" value="" class="input" placeholder="E-mail">
      </div>
      <div class="login-card">
        <i class="icon ion-locked"></i>
        <input type="password" name="password" ng-model="password" value="" class="input" placeholder="Password">
      </div>
      <div id="remember">
        <label for="remember">Remember Me</label>
        <input type="checkbox" name="remeber" value="">
        <button class="button button-calm" ng-click="login()" type="button" name="login">Sing In</button>
      </div>
    </div>
  </ion-content>
</ion-view>
