<ion-view view-title="Timeline" ng-init="index()">
  <ion-content>
    <ion-list id="timeline">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="media in medias" type="item-text-wrap" href="#/tab/timeline/{{media.$$hashKey}}">
        <div class="box-image">
          <img ng-src="{{media.thumbnail}}">
        </div>
        <div class="box-description">
          <h2>{{media.title}}</h2>
          <p>{{media.description}}</p>
          <i class="icon" ng-class="getIconByType(media.type)"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
