<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Login" icon="ion-home" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Timeline" icon="ion-ios-world" href="#/tab/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>
</ion-tabs>
