/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.content-base{
  background: #a4ca98;
}

.media-header{
  position: relative;
  top: 10%;

  .main-logo{
    width: 30%;
  }

  .box-logo{
    text-align: center;
    display: block;
  }

  h3{
    text-align: center;
    color: white;
  }
}

#box-form{
  position: relative;
  top: 10%;
  width: 100%;
  left: 10%;

  .login-card{
    display: flex;
    margin: 5%;
    position: relative;
    width: 100%;
    height: 30%;
    .input{
      width: 70%;
    }
  }

  #remember{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
}


#timeline{
  a.item-content{
    padding: 5px;
    width: 100%;
    height: 200px;
  }

  .box-image{
    width: 100%;
    height: 50%;
  }

  .box-description{
    width: 100%;
    height: 50%;
    position: relative;
    top: 10%;
  }

  img{
    width: 100%;
    height: 100%;
  }
}
